{
  "ignore": ["./src/static/**/*"],
  "linters": {
    "*.@(tsx|ts|js|json)": [
      "yarn prettier --write",
      "yarn eslint --fix",
      "git add"
    ],
    "*.css": [
      "yarn prettier --write",
      "yarn stylelint --fix",
      "git add"
    ],
    "*.vue": [
      "yarn prettier --write",
      "yarn eslint --fix",
      "yarn stylelint --fix",
      "git add"
    ],
  }
}
