html {
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

strong {
  font-weight: 400;
}

.u-clearfix {
  clear: both;
}
