html,
body,
p,
button,
a,
ul,
ol,
li {
  color: var(--color-text);
  font-family: var(--font-family-main);
  font-size: calc(var(--grid-two) + var(--grid-half));
  font-weight: 50;
  line-height: 1.5;
}

.u-font--smaller {
  font-size: var(--grid-two);
  line-height: 1.4;
}

.u-font--larger {
  font-size: var(--grid-three);
  line-height: 1.5;
}

.u-font--bold {
  font-weight: 500;
}
